.taskList {
   margin: 0 auto 15px auto;
   padding: 15px 20px;
   background-color: #fff;
   width: 200px;
   height: 280px;
   border-radius: 20px;  
}

.taskListInner {
   text-align: center;
   position: relative;
   
}

.taskAddForm {
   position: absolute;
   top: 220px;
}

.delete-board {
   margin-bottom: 10px;
   cursor: pointer;
}